body {
    background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1613680406_7-p-fon-dlya-prezentatsii-programmirovanie-7.jpg");
    background-size: cover;
}
body {
    text-align: center;
    text-color: white;
    font-size: 40px;
}